appdirs==1.4.3
astroid==1.4.8
decorator==4.0.10
eyeD3==0.7.11
ipython==5.1.0
ipython-genutils==0.1.0
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
packaging==16.8
pexpect==4.2.0
pickleshare==0.7.4
prompt-toolkit==1.0.6
ptyprocess==0.5.1
Pygments==2.1.3
pylint==1.6.4
pyparsing==2.2.0
requests==2.14.2
setuptools-lint==0.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
wcwidth==0.1.7
wrapt==1.10.8
